* {
    writing-mode: vertical-lr;
    direction: ltr;
}

div {
    margin-top: 50px;
    margin-left: 25px;

    border-top-style: solid;
    border-top-width: 25px;
    border-top-color: black;

    border-left-style: solid;
    border-left-width: 12px;
    border-left-color: black;

    padding-top: 12px;
    padding-left: 6px;
    
    width: 300px;
    height: 200px;
    
    background-color: green;
}