body {
    writing-mode: vertical-rl;
}

.containing-block {
    width: 800px;
    height: 400px;

    /* We need to implement shorthands, stat */
    border-left-width: 2px;
    border-right-width: 2px;
    border-top-width: 2px;
    border-bottom-width: 2px;

    border-left-style: solid;
    border-right-style: solid;
    border-top-style: solid;
    border-bottom-style: solid;

    border-left-color: black;
    border-right-color: black;
    border-top-color: black;
    border-bottom-color: black;
}

.inner-block {
    background-color: green;
    margin-top: auto;
    margin-bottom: auto;
    width: 200px;
    height: 300px;
}