/* UA default styles: https://html.spec.whatwg.org/#the-css-user-agent-style-sheet-and-presentational-hints */

/*\
TODO:
 1. Kosmonaut does not currently parse the :root pseudoelement, so this does nothing.
 2. The viewport background should come from system colors, not :root CSS rules.
\*/
:root {
    background-color: white;
}

div.main, div.main.main.div {
  /*font-size: 12px !important;*/
  /*margin-bottom: auto;*/
  /*padding-bottom: 216px;*/
  /*display: block;*/
  /*width: 70px;*/
  /*color: rgb(120, 14, 16);*/
  /*border-bottom-color: currentColor;*/
  /*border-top-style: dashed;*/
  /*border-left-width: 88px;*/
}

div {
    display: block;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    /*border-bottom-style: solid;*/
    /*border-bottom-color: fuchsia;*/
    /*border-left-style: solid;*/
    /*border-left-color: fuchsia;*/
    /*border-right-style: solid;*/
    /*border-right-color: fuchsia;*/
    /*border-top-style: solid;*/
    /*border-top-color: fuchsia;*/
}
.a { background-color: #ff0000; }
.b { background-color: #ffa500; }
.c { background-color: #ffff00; }
.d { background-color: #008000; }
.e { background-color: #0000ff; }
.f { background-color: #4b0082; }
.g { background-color: #800080; }